version: '3.9'
services:

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  backend:
    build: ./backend
    environment:
      DB_USER: sa
      DB_PASSWORD: YourStrong!Passw0rd
      DB_SERVER: sqlserver
      DB_NAME: DICRI_DB
      JWT_SECRET: SuperSecretJWT123
    depends_on:
      - sqlserver
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  sql_data:
